.git
.gitignore
geo_mapping_db.sql
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

node_modules/

logs/
media/
staticfiles/
data/

oneacre-prod.pem
*.pem
*.key

.env
.env.*

docs/

scripts/
