# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/
*.pyc

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak
*.backup

# Data files
*.mvt
*.pbf
*.tif
*.tiff
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qix
*.qix.gz
*.fgb
*.geojson
*.json.gz

# Logs
logs/
*.log
/data/

# /static/
data.zip
/media/
# /staticfiles/
/test_tiles/
/tiles_output/
/mapbox_png_tiles/
/amaravati_master_plan_tiles
/visakhapatnam_master_plan_tiles
/warangal_master_plan_tiles
/anekal_masterplan_tiles
/hosakote_masterplan_tiles
/chikkaballapura_masterplan_tiles
/nelamangala_masterplan_tiles
/hyderabad_future_city_boundary_tiles
/hyderabad_future_city_geotiff_tiles
/karnataka_bengaluru_highways_tiles
/karnataka_bengaluru_masterplan_tiles
/karnataka_bengaluru_strr_tiles
/karnataka_bengaluru_workspace_tiles
/karnataka_bengaluru_metro_tiles
/rrr_tiles
/hyderabad_highways_tiles
/hyderabad_rrr_tiles
/tiles
/amaravati_seamless_tiles
/amaravati_final_tiles
/warangal_perfect_tiles
/amaravati_mvt_tiles
/amaravati_tiles_production_final
/amaravati_tiles
/karnataka_bengaluru_master_plan_tiles
/karnataka_bengaluru_strr_tiles2
/s3_mertro_karnataka_backup
/test1
/test2
/karnataka_bengaluru_metro_tiles2
/copy_s3_data.sh
/hyderabad_highways_tiles.zip
/karnataka_bengaluru_highways_tiles2
/hyderabad_metro_tiles
/chennai_masterplan_tiles
/chennai_combined_masterplan_tiles
/kochi_masterplan_tiles_main
/hosur_masterplan_tiles
/coimbatore_masterplan_tiles_main
/vijayawada_masterplan_tiles
/kakinada_masterplan_tiles
/kochi_tiles
/kakinada_masterplan_tiles1
/vijayawada_masterplan_tiles1
/kochi_masterplan_tiles
/cuttack_masterplan_tiles
/bhopal_masterplan_tiles
/ajmer_masterplan_tiles
/pithampur_masterplan_tiles
/ayodhya_masterplan_tiles
/guwahati_masterplan_tiles
/lucknow_masterplan_tiles
/patna_masterplan_tiles
/geo_mapping_db.sql
/tirupati_masterplan_tiles
/mandideep_masterplan_tiles
/new_raipur_masterplan_tiles
/dadra_and_nagar_haveli_masterplan_tiles
/srinagar_masterplan_tiles
/dadra_nagar_haveli_masterplan_tiles
/daman_and_diu_masterplan
/mohali_sas_nagar_masterplan_tiles
/ahmedabad_masterplan_tiles
/gift_city_masterplan_tiles
/vadodara_masterplan_tiles
/varanasi_masterplan_tiles
/ahmedabad_masterplan_tiles
/arogya_dham_badsa_masterplan_tiles
/banur_masterplan_tiles
/dadra_and_nagar_haveli_masterplan_tiles
/derabassi_masterplan_tiles
/dharuhera_masterplan_tiles
/ghaziabad_masterplan_tiles
/kannur_masterplan_tiles
/kharar_masterplan_tiles
/kharkhaud_masterplan_tiles
/kollam_masterplan_tiles
/kozhikode_masterplan_tiles
/mullanpur_masterplan_tiles
/panchkula_extension_1_masterplan_tiles
/panchkula_masterplan_tiles
/pinjore_kalka_masterplan_tiles
/sonipat_kundli_masterplan_tiles
/zirakpur_masterplan_tiles
/warangal_tiles_seamless
/output_tiles
/amaravati_tiles_256
/amaravati_tiles_enhanced
/amaravati_tiles_enhanced2
/warangal_tiles_seamless2
/warangal_tiles
/warangal_test_holes
/visakhapatnam_tiles
/visakhapatnam_tiles1
/bengaluru_metro_tiles_clean
/karnataka_bengaluru_roads_tiles
/hyderabad_air_funnel_tiles
/bengaluru_air_funnel_tiles
/hyderabad_hmda_boundary_tiles
/hyderabad_hmda_boundary_tiles_1
/amaravati_masterplan_tiles_threaded
/visakhapatnam_masterplan_tiles_threaded
/tif_files
/noida_tiles_production
/noida_tiles_seamless
/delhi_tiles_seamless
/greater_noida_tiles_seamless
/yamuna_expressway_tiles_seamless
/gurgaon_tiles_seamless
/faridabad_tiles_seamless
/jaipur_tiles_seamless
/gurgaon_tiles
/jodhpur_tiles_seamless
/ahmedabad_gandhinagar_air_funnel_tiles
/kozhikode_air_funnel_tiles
/bhubaneswar_air_funnel_tiles
/ayodhya_air_funnel_tiles
/chennai_air_funnel_tiles
/delhi_igi_air_funnel_tiles
/diu_air_funnel_tiles
/dohlera_air_funnel_tiles
/guwahati_air_funnel_tiles
/jaipur_air_funnel_tiles
/kochi_air_funnel_tiles
/nagpur_air_funnel_tiles
/lucknow_air_funnel_tiles
/noida_jewar_air_funnel_tiles
/navi_mumbai_air_funnel_tiles
/raigarh_air_funnel_tiles
/raipur_air_funnel_tiles
/patna_air_funnel_tiles
/tirupati_air_funnel_tiles
/warangal_air_funnel_tiles
/amaravati_tiles_seamless
/bhubaneshwar_tiles_seamless
/delhi_tiles_seamless_fast
/chandigarh_tiles_seamless
/gurgaon_tiles_seamless_fast
/bhubaneshwar_tiles_seamless_fast
/chandigarh_tiles_seamless_fast
/jaipur_tiles_seamless_fast
/puducherry_tiles_seamless
/jodhpur_tiles_seamless_fast
/udaipur_tiles_seamless
/jagdalpur_tiles_seamless
/arang_tiles_seamless
/balodabazaar_tiles_seamless
/mahasamund_tiles_seamless
/durg_bihlai_tiles_seamless
/raigarh_tiles_seamless
/rajnandgaon_tiles_seamless
/hyderabad_tiles_seamless
/monument_tiles
/heritage_tiles
/heritage_tiles_test
/monument_data_set1
/daman_and_diu_masterplan_tiles
/hyderabad_tiles_seamless_optimized
/*.zip
/hyderabad_rrr_styled_tiles
/hyderabad_rrr_styled_tiles_curverd
/hyderabad_rrr_styled_tiles_new
/49_ring_roads_tiles
/geomapping0902.dump.gz
/roads_test_tiles
/land_plot_tiles
/1acre-icons
/lambda_tile_gen
/lambda_deploy
/output_dir
/road_tiles
/Vadhvan_Tawa_Connector_Expressway
/Uttan_Virar_Sea_Link
/Madh_Versova_Bridge
/Bandra_Versova_Sea_Link
/Talegaon-Chakan-Shikrapur_Corridor
/Konkan_Expressway
/Nagpur-Goa_Shaktipeeth_Expressway
/Pune_Bengaluru_Expressway
/Virar-Alibaug_Multi_Modal_Corridor
/Pune Ring Roads (Inner & Outer)
/versova_bhayander_tiles
/HMDA_masterplan_roads_tiles
/tiles_karnataka_masterplan
/tiles_crz_andhrapradesh
/virar_tiles
/.cursor
.wrangler
full_backup.sql
full_backup.sql.gz
set28.1
set29
